/* Selector */

/* 
    h2: selector
    color: property
    aquamarine: value
*/


/* Untuk semua tag h2 */
h2 {
    color: aquamarine;

}

/* Semua tag paragraf */
p {
    color: goldenrod
}

/* ID Selector */

/* Tag yang memiliki id = merah */
#merah {
    color: red;
}

/* CLASS Selector */

/* Tag yang memiliki class =  */
.hijau {
    color: green;
}

/* Attribute Selector */

/* Tag yang memiliki attribute id */
[id] {
    color: #6423cc
}

/* Colors */

/* keyword */
#corn {
    color: cornflowerblue;
}

/*
    rgb, red green blue
    range: 0 - 255
*/
#rgb {
    color: rgb(224, 116, 116)
}

/* 
    alpha: 0 - 1
    0.3 , 0.4
*/

#rgba {
    color: #3cc771dc
}
/*
    Bilangan hexadecimal
    0 - 9 A - F
*/
#hex {
    color: #24913f
}

#hsl{
    color: hsl(157, 89%, 28%)
}

#hsla{
    color: rgb(145, 177, 30)
}

/* Background */

/* Semua tag div yang ada di dalam div yang memiliki class box-container */
div.box-container div{
    width: 500px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    color: white;
}

.background-color{
    background-color: purple
}

.background-image {
    background-image: url(./files/pictures/Logo-Css-720x720.png);
    background-size: contain;
    
    /* 
        contain
        Ukuran gambar di ubah sesuai dengan ukuran element
        Bisa menyisakan sebuah space jika rasio gambar dengan element berbeda
        Berpatokan nilai terkecil antara lebar atau tinggi
    */
    
    
    /* background-size: cover; */
    /* 
        cover
        Ukuran gambar di sesuaikan dengan ukuran dari element
        jika ratio gambar dan rasio element tidak sama
        menyebabkan sebagian gambar terpotong
        Berpatokan nilai terbesar antara lebar atau tinggi
    */
}





/* Font */


/* Box model */